fastapi
uvicorn
python-dotenv
python-docx

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-chroma
langchain-huggingface

chromadb

sentence-transformers
huggingface-hub

google-generativeai

pypdf
unstructured

pydantic